body {
    margin: 0;
    padding: 0;
    background-color: black;
    border: 1px, solid red;
    /* max-width: 1070px; */
    box-sizing: border-box;
    overflow-x: hidden;
}

#container {
    height: 3000px;
}

.sec1-welcome-page {
    border: 1px solid red;
    height: 25%;
    position: relative;
    background-image: url("./assets/NG-en-20220214-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
}

.sec2-welcome-page {
    border: 1px solid red;
    height: 15%;
}

.sec3-welcome-page {
    border: 1px solid red;
    height: 12%;
}

.sec4-welcome-page {
    border: 1px solid red;
    height: 8%;
}

.sec5-welcome-page {
    border: 1px solid red;
    height: 10%;
}

.sec6-welcome-page {
    border: 1px solid red;
    height: 20%;
}

.sec7-welcome-page {
    height: 10%;
}

.sec1-home-page-text {
    position: absolute;
    bottom: 220px;
    left: 40px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec2-home-page-text {
    margin-top: 150px;
    margin-left: 150px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec3-home-page-text {
    margin-top: 50px;
    margin-right: 150px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    float: right;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec4-home-page-text {
    margin-top: 50px;
    margin-left: 150px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec5-home-page-text {
    margin-top: 50px;
    margin-right: 150px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    float: right;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec6-home-page-text {
    color: white;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.sec7-home-page-text {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    margin: 100px 350px;
    /* margin-top: 50px;
    margin-right: 150px; */
    color: white;
    font-weight: bold;
    font-size: 27px;
    text-align: left;
    /* float: right; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bar-ctrl {
    position: absolute;
    bottom: 690px;
    margin: 0 50px;
}

h2 {
    color: red;
    font-style: normal;
    margin-left: 20px;
    font-size: 35px;
    font-weight: bolder;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#netflix-btn {
    border-radius: 4px;
    background-color: red;
    width: 2.5cm;
    color: white;
    border-style: none;
    /* text-transform: uppercase; */
    height: 40px;
    font-size: 16px;
    margin-left: 1200px;
    margin-bottom: 700px;
}

#netflix-btn:hover {
    text-decoration: underline;
    background-color: rgba(177, 18, 18, 0.829);
}

p1 {
    font-size: 17px;
    line-height: 10px;
}

.email-submit {
    height: 70px;
}

#email {
    width: 500px;
    color: white;
    border-style: none;
    height: 50px;
    font-size: 16px;
}

.get-started-btn {
    background-color: red;
    width: 5cm;
    color: white;
    border-style: none;
    text-transform: uppercase;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

#get-started-btn:hover {
    text-decoration: underline;
    background-color: rgba(177, 18, 18, 0.829);
}

.accordion {
    background-color: #303030;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: left;
    border: 4px solid black;
    outline: none;
    transition: 0.5s;
    font-size: 20px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.column1 {
    /* display: flex; */
    color: rgba(255, 255, 255, 0.651);
    font-size: 15px;
}

@media screen and (max-width: 780px) {
    /* #container {
        flex-wrap: wrap;
        width: 50vw;
    } */
    .sec1-home-page-text {
        width: 70%;
        justify-content: center;
    }
    .email-submit {
        flex-wrap: wrap;
    }
    h2 {
        justify-content: center;
    }
    #netflix-btn {
        justify-content: center;
        margin-left: 600px;
    }
}